<% provide :title, t(".home") %>
<div class="card medium center">
  <div class="card-image">
    <h3>Welcome to Sky's Blog</h3>
  </div>
  <div class="card-action">
    <%= link_to "Sign up", signup_path, class: "waves-effect waves-teal btn btn-large light-blue" %>
  </div>
</div>
