<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sky's Blog</h5>
        <p class="grey-text text-lighten-4">Welcome to Sky's Blog</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><%= link_to "Facebook", "https://facebook.com", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Instagram", "https://instagram.com", class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2017
      <%= link_to "NgocTuan", "https://google.com", class: "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
